/*Port_style.css*/
h1 {
    color: #ff0000;
    background-color: #27d2f0;
    font-size: 50px;
}

nav {
    background-color: #ff0000;
    overflow: hidden;
}

nav a {
    float:left;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a:hover {
    background-color: #dddddd;
    color: #000000;
  }
  
p {
    color: #1a0be4;
    font-size: 24px;
}

div.col-md-6.col-xs-12 {
    padding:10px;
}
